<h1>Welcome back!</h1>
<div class="col s9">
  <div style="width: 33.33%; float: left">
    <h4>Top Genres:</h4>
    <ul>
      <% @top_genres.each do |genre|%>
        <li><%= genre %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h4>Top Artists:</h4>
    <ul>
      <% @top_artists.each do |artist|%>
        <li><%= artist.name %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h4>Top Tracks:</h4>
    <ul>
      <% @top_tracks.each do |track|%>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  </div>
</div>
